<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron text-center">
                    <h1 class="display-4 font-weight-bold">JSON Formatter</h1>
                    <p class="lead">Enter JSON on the left to get formatted JSON on the right.</p>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-sm-12 col-md-6">
                <form>
                    <div class="form-group">
                        <label for="json_input">Input</label>
                        <textarea id="json_input" class="form-control" rows="20"></textarea>
                    </div>

                    <button id="man_btn" type="button" class="btn btn-primary btn-lg float-left">Manual</button>
                    <button id="lib_btn" type="button" class="btn btn-primary btn-lg float-right">Library</button>
                </form>
            </div>
            <div class="col-sm-12 col-md-6 mt-sm-5 mt-md-0">
                <form>
                    <div class="form-group">
                        <label for="json_output">Output</label>
                        <textarea id="json_output" readonly class="form-control" rows="20"></textarea>
                    </div>
                    <button id="copy_btn" type="button" class="btn btn-primary float-right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-copy">
                            <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                            <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/domready/1.0.8/ready.min.js"
        integrity="sha256-z7v8HmIeZylwLaPn0X0Ym8dFyV0vkFVe4BkVW/iuwmQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"
        integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
    <script>
        domready(function () {
            document.getElementById('man_btn').onclick = event => {
                axios.post('/api/v1/man', {
                    data: document.getElementById('json_input').value
                }).then(resp => {
                    document.getElementById('json_output').value = resp.data
                }).catch(error => {
                    document.getElementById('json_output').value = error + ' (' + error.response.data.error + ')';
                });
            };

            document.getElementById('lib_btn').onclick = event => {
                console.log(event);
                axios.post('/api/v1/lib', {
                    data: document.getElementById('json_input').value
                }).then(resp => {
                    console.log('RESP: ', resp);
                    document.getElementById('json_output').value = resp.data
                }).catch(error => {
                    console.log('ERROR: ', error);
                    document.getElementById('json_output').value = error + ' (' + error.response.data.error + ')';
                });
            };

            document.getElementById('copy_btn').onclick = event => {
                var copy_text = document.getElementById('json_output');
                copy_text.select();
                document.execCommand('copy');
            };

        })
    </script>
</body>

</html>
